# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio 2015/2017/2019/2022 cache/options directory
.vs/

# NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# ReSharper / JetBrains Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Mac/Linux junk (just in case)
.DS_Store
Thumbs.db